<header class="header">
    <div class="menu_admin">
        <div class="infos">
            <div>
                <div class="profil d-flex justify-center">
                    <img class="img-fluid rounded-circle" [src]="imageUrl" alt="">
                </div>
            </div>
            <div class="nom">
                <h3>Mbayang Gueye</h3>
            </div>
        </div>
        <div class="end"> 
            <button type="button" class="btn btn-dark">
                <a routerLink="listeUser">Listes User</a>
            </button>         
        </div>
    </div>
</header>