.header {
    background-color: #cf4973;
    height: 110px;
}

.menu_admin {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.profil {
    width: 100px;
    height: 100px;
    margin-top: 5px;
}

.infos {
    display: flex;
}

.infos p {
    margin-left: 5px;
    margin-top: 0px;
}

.nom {
    margin: 30px;
}
.nom h3{
    color: #fff;
}

.end {
    margin-top: 30px;
}
.end button a{
    color: #fff;
    text-decoration: none;
}