<table class="table table-hover w-75 my-5">
    <thead>
        <tr class="line">
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let donnee of donnees">
        <td>{{ donnee.prenom }}</td>
        <td>{{ donnee.nom }}</td>
        <td>{{ donnee.email }}</td>
        <td>{{ donnee.tel }}</td>
        <td>
            <i class="bi bi-archive"></i>
            <i class="bi bi-pencil-square m-2"></i>
            <i class="bi bi-arrow-down-up"></i>
        </td>
    </tr>
    </tbody>
  </table>